[user]
	name = sato yoshiyuki
	email = yoshi.389111@gmail.com
	signingkey = ~/.ssh/id_ed25519.pub
[core]
	autocrlf = false
	ignorecase = false
	quotepath = false
	editor = vi
[color]
	ui = true
[init]
	defaultBranch = main
	templatedir = ~/.git_template
[gpg]
	format = ssh
[commit]
	gpgsign = true
